* {
  border: 0px solid green;
}

html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
html body {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: sans-serif;
  position: relative;
  background-color: whitesmoke;
}
html body a {
  text-decoration: none;
  color: white;
}
html button {
  border: none;
  border-radius: 25px;
  color: white;
  margin: 50px auto;
  height: 45px;
  width: 150px;
}
html .container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  color: #fefefe;
  justify-content: center;
}
html .container section:nth-child(1) {
  display: flex;
  flex-direction: column;
  background-image: url("../images/background.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 450px;
  text-align: center;
  align-items: center;
}
html .container section:nth-child(1) #menu {
  display: none;
}
html .container section:nth-child(1) h2 {
  font-weight: 200;
  font-family: Lucida Calligraphy;
}
html .container section:nth-child(1) .nav ul {
  display: flex;
  flex-direction: row;
}
html .container section:nth-child(1) .nav ul li {
  padding: 0 10px;
  list-style-type: none;
}
html .container section:nth-child(1) .nav ul li:nth-child(1) {
  padding-left: 0;
}
html .container section:nth-child(1) h1 {
  font-size: 2.9rem;
  font-weight: 600;
  margin-left: -20px;
}
html .container section:nth-child(1) #last_element {
  display: flex;
  flex-direction: row;
  align-items: center;
}
html .container section:nth-child(1) #last_element .banner_line {
  width: 150px;
  height: 1px;
  background-color: whitesmoke;
}
html .container section:nth-child(1) #last_element .banner_text {
  margin: auto 10px;
}
html .container section:nth-child(1) button {
  border: none;
  border-radius: 25px;
  background-color: #3CB3AB;
  font-weight: 450;
  color: white;
  margin: 50px auto;
  height: 45px;
  width: 215px;
}
html .container section:nth-child(2) {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  color: #000;
  background-color: whitesmoke;
}
html .container section:nth-child(2) div {
  padding: 15px 25px;
  text-align: center;
}
html .container section:nth-child(2) div p:nth-child(2) {
  font-weight: 700;
}
html .container section:nth-child(2) div p:nth-child(4) {
  opacity: 0.5;
}
html .container section:nth-child(2) div hr {
  width: 175px;
  height: 2px;
  background-color: #BDBDBD;
}
html .container section:nth-child(3),
html .container section:nth-child(5) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  background-color: #fefefe;
  color: #000;
  width: 100%;
  height: auto;
}
html .container section:nth-child(3) div,
html .container section:nth-child(5) div {
  display: flex;
  padding: 15px 25px;
  width: 450px;
  flex-direction: column;
}
html .container section:nth-child(3) div p img,
html .container section:nth-child(5) div p img {
  width: 100%;
  height: 250px;
}
html .container section:nth-child(3) div button,
html .container section:nth-child(5) div button {
  border: none;
  border-radius: 25px;
  background-color: #3CB3AB;
  font-weight: 450;
  color: white;
  margin: 50px auto;
  height: 45px;
  width: 150px;
}
html .container section:nth-child(3) div p:nth-child(2),
html .container section:nth-child(5) div p:nth-child(2) {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.75);
  font-size: 1.2rem;
}
html .container section:nth-child(3) div p:nth-child(4),
html .container section:nth-child(5) div p:nth-child(4) {
  opacity: 0.5;
}
html .container section:nth-child(3) div hr,
html .container section:nth-child(5) div hr {
  width: 100%;
  height: 2px;
  background-color: #BDBDBD;
}
html .container section:nth-child(4) {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
}
html .container section:nth-child(4) div {
  width: 70%;
  height: auto;
  margin: auto 15%;
  padding: 15px 25px;
}
html .container section:nth-child(4) div p:nth-child(1) {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #000;
}
html .container section:nth-child(4) div p:nth-child(1) span {
  margin-left: 15px;
}
html .container section:nth-child(4) div p:nth-child(3) {
  color: rgba(0, 0, 0, 0.5);
}
html .container section:nth-child(4) div button {
  background-color: #BDBDBD;
}
html .container section:nth-child(4) div hr {
  width: 100%;
  height: 2px;
  background-color: #BDBDBD;
}
html .container section:nth-child(5) div {
  display: flex;
  flex-direction: column;
}
html .container section:nth-child(5) div p img {
  width: 100%;
  height: 175px;
}
html .container section:nth-child(5) div p:nth-child(4) {
  color: rgba(0, 0, 0, 0.5);
}
html .container section:nth-child(5) div p:nth-child(5) {
  color: #3CB3AB;
  font-weight: 500;
}
html .container section:nth-child(6) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  margin-top: 45px;
  width: 100%;
}
html .container section:nth-child(6) div {
  width: 350px;
  color: #000;
}
html .container section:nth-child(6) div p:nth-child(1) {
  display: flex;
  align-items: center;
  font-weight: 700;
}
html .container section:nth-child(6) div p:nth-child(1) span {
  margin-left: 15px;
}
html .container section:nth-child(6) div p:nth-child(3) {
  color: rgba(0, 0, 0, 0.5);
}
html .container section:nth-child(6) div button {
  background-color: #3CB3AB;
}
html .container section:nth-child(6) div hr {
  width: 100%;
  height: 2px;
  background-color: #BDBDBD;
}
html .container section:nth-child(7) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  padding: 45px auto;
}
html .container section:nth-child(7) div {
  color: #000;
  width: 375px;
  margin: 25px 15px;
}
html .container section:nth-child(7) div img {
  width: 100%;
  height: 85%;
}
html .container section:nth-child(7) div hr {
  width: 100%;
  height: 2px;
  background-color: #BDBDBD;
}
html .container section:nth-child(7) div p:nth-child(1) {
  display: flex;
  align-items: center;
  font-weight: 700;
}
html .container section:nth-child(7) div p:nth-child(3) {
  opacity: 0.5;
}
html .container footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 325px;
  max-height: auto;
  background-color: #3CB3AB;
  color: white;
}
html .container footer div:nth-child(1) {
  margin-top: 25px;
}
html .container footer div:nth-child(1) hr {
  width: 100%;
  height: 2px;
  background-color: #eceff150;
}
html .container footer div:nth-child(1) p {
  display: flex;
  align-items: center;
}
html .container footer div:nth-child(1) p span {
  margin-left: 15px;
  font-weight: 700;
}
html .container footer #footer-partenaria {
  margin-top: 25px auto;
}
html .container footer #footer-partenaria ul {
  display: flex;
  margin-top: 50px;
  flex-direction: row;
}
html .container footer #footer-partenaria ul li {
  margin: auto 10px;
  list-style-type: none;
}
html .container footer #footer-partenaria ul li:nth-child(1) {
  font-family: Lucida Calligraphy;
  font-weight: 500;
  font-size: 1.4rem;
}
html .container footer #footer-partenaria ul li:nth-child(2) {
  font-family: Comic Sans MS;
  opacity: 0.75;
  font-size: 1.4rem;
  font-weight: lighter;
}
html .container footer #footer-partenaria ul li:nth-child(3) {
  font-family: 100;
  opacity: 0.75;
  font-size: 1.4rem;
  font-weight: lighter;
}
html .container footer #footer-partenaria ul li:nth-child(4) {
  font-family: 500;
  color: #fefefe;
  opacity: 0.95;
  font-size: 1.4rem;
  font-weight: lighter;
}
html .container footer #footer-link {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #fefefe;
  color: #BDBDBD;
  padding: 5px auto;
}
html .container footer #footer-link p {
  margin: 15px auto;
}
html .container footer #footer-link p span {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
html .container footer #footer-link p:nth-child(2) i {
  margin: auto 2px;
}

/* Affichage mobile*/
@media only screen and (max-width: 720px) {
  body {
    font-size: 12px;
  }
  body button {
    height: 35px;
  }
  body .container {
    position: relative;
    display: flex;
    width: 90%;
  }
  body .container section {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
  }
  body .container section:nth-child(1) {
    background-position: right;
  }
  body .container section:nth-child(1) #menu {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  body .container section:nth-child(1) #menu img {
    width: 48px;
  }
  body .container section:nth-child(1) .nav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    display: none;
  }
  body .container section:nth-child(1) .nav ul {
    display: flex;
    background-color: rgba(0, 0, 0, 0.25);
    width: 82vw;
    height: 175px;
    flex-direction: column;
  }
  body .container section:nth-child(1) .nav ul li {
    font-size: 17px;
    padding-top: 15px;
    margin-left: -40px;
  }
  body .container section:nth-child(1) div h2 {
    font-size: 30px;
  }
  body .container section:nth-child(1) div h1 {
    font-size: 25px;
    margin-left: -20px;
  }
  body .container section:nth-child(1) div .btn_banner button {
    margin-top: 150px;
  }
  body .container section:nth-child(1) #last_element .banner_line {
    display: none;
  }
  body .container section:nth-child(3), body .container section:nth-child(5) {
    background-color: whitesmoke;
  }
  body .container section:nth-child(3) div, body .container section:nth-child(5) div {
    width: 100%;
    height: 570px;
    margin: 15px auto;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  }
  body .container section:nth-child(3) div p img, body .container section:nth-child(5) div p img {
    width: 95%;
    flex-shrink: 0;
  }
  body .container section:nth-child(3) div p:nth-child(2), body .container section:nth-child(5) div p:nth-child(2) {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.75);
    font-size: 0.9rem;
  }
  body .container footer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 450px;
  }
  body .container footer #footer-partenaria {
    display: flex;
    flex-direction: column;
  }
  body .container footer #footer-partenaria ul {
    display: flex;
    flex-direction: column;
    margin-left: -40px;
  }
  body .container footer #footer-partenaria ul li {
    font-size: 2px;
    text-align: center;
  }
  body .container footer #footer-link {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 320px) {
  .container section:nth-child(1) h2 {
    display: block;
  }
}

/*# sourceMappingURL=index.css.map */
